/* Dark mode colors. */
:root {
    --sl-color-bg-nav: #192231; 
    --sl-color-accent-low: #ffffff;
    --sl-color-accent: #FF6400;
    --sl-color-accent-high: #ffffff;
    --sl-color-text-accent: #FF6400;
    --sl-color-white: #FF6400;
    --sl-color-gray-1: #ffffff;
    --sl-color-gray-2: #ffffff;
    --sl-color-gray-3: #ffffff;
    --sl-color-gray-4: #ffffff;
    --sl-color-gray-5: #738a96;
    --sl-color-gray-6: #182230;
    --sl-color-black: #182230;
}
/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-bg-nav: #e2e1dc;
    --sl-color-text-nav: #ffffff;
    --sl-color-accent-low: #c7d6ff;
    --sl-color-accent: #FF6400;
    --sl-color-accent-high: #182775;
    --sl-color-text-accent: #FF6400;
    --sl-color-white: #FF6400;
    --sl-color-gray-1: #24272f;
    --sl-color-gray-2: #353841;
    --sl-color-gray-3: #545861;
    --sl-color-gray-4: #888b96;
    --sl-color-gray-5: #738a96;
    --sl-color-gray-6: #eceef2;
    --sl-color-gray-7: #f5f6f8;
    --sl-color-black: #ffffff;
}

.sl-markdown-content a:not(:where(.not-content *)) {
    color: var(--sl-color-gray-5);
}